{% extends 'base.html' %}
{% load static %}
{% block extend-jquery-file %}
    <link rel="stylesheet" href="{% static 'dynamic/dynamics.css' %}">
{% endblock %}

{% block main-content %}
    <div class="container-fluid" style="margin-top: 2em">
        <div class="row">
            {% for dynamic in dynamic_list %}
                <div class="col-md-6  col-md-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ dynamic.owner.username }}: {{ dynamic.update_time }}</h3>
                        </div>
                        <div class="panel-body">
                            <div>{{ dynamic.text }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">.col-md-2</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

