{% extends 'base.html' %}
{% load static %}

{% block title %}动态墙{% endblock %}
{% block extend-jquery-file %}
    <link rel="stylesheet" href="{% static 'time-line/css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'time-line/css/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'dynamic/dynamics.css' %}">
    <script src="{% static 'time-line/js/timeline.js' %}"></script>
{% endblock %}

{% block main-content %}
    <div class="container">
        <ul id="timeline" class="timeline">
            {% for dynamic in dynamic_list %}
                <li>
                    <div class="check">
                        <b class="spring"></b>
                        <s></s>
                        <b class="line"></b>
                    </div>
                    <div class="thumb">
                        <img src="{% static 'time-line/images/pic/top1.jpg' %}" alt="">
                        <span>{{ dynamic.update_time | date:"Y-m-d H:i:s" }}</span>
                    </div>
                    <div class="content" id="{{ dynamic.pk }}">
                        <b></b>
                        <h3>{{ dynamic.type.type_name }}{% block owner-delete %}{% endblock %}</h3>
                        <p id="dynamic{{ dynamic.pk }}">
                            {{ dynamic.text | safe }}
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="paginator text-center">
            <ul class="pagination">
                {# 上一页 #}
                <li>
                    {% if page_of_dynamics.has_previous %}
                        <a href="?page={{ page_of_dynamics.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {% else %}
                        <span aria-hidden="true">&laquo;</span>
                    {% endif %}
                </li>
                {# 全部页码 #}
                {% for page_num in page_range %}
                    {% if page_num == page_of_dynamics.number %}
                        <li class="active"><span>{{ page_num }}</span></li>
                    {% else %}
                        {% if page_num == '...' %}
                            <li><span>{{ page_num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {# 下一页 #}
                <li>
                    {% if page_of_dynamics.has_next %}
                        <a href="?page={{ page_of_dynamics.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    {% else %}
                        <span aria-hidden="true">&raquo;</span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block script-extend %}
    <script>
        $("#timeline li:first").addClass("active");

        function unfold(obj, id) {
            var ele = document.getElementById(id);
            if (obj.innerHTML === '展开') {
                ele.style.cssText = "white-space: inherit";
                obj.innerHTML = '收起';
            } else {
                ele.style.cssText = "overflow: hidden;white-space: nowrap; text-overflow: ellipsis;"
                obj.innerHTML = '展开';
            }
        }
    </script>
{% endblock %}