{% extends 'base.html' %}
{% load static %}

{% block title %}我的动态|{% endblock %}
{% block extend-jquery-file %}
    <link rel="stylesheet" href="{% static 'dynamic/dynamics.css' %}">
{% endblock %}

{% block main-content %}
    <div class="container-fluid" style="margin-top: 2em">
        <div class="row">
            <div class="col-md-6  col-md-offset-2">
                {% for dynamic in dynamic_list %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ dynamic.owner.username }}: {{ dynamic.update_time }}</h3>
                        </div>
                        <div class="panel-body">
                            <div>{{ dynamic.text|truncatechars_html:20}}</div>
                        </div>
                    </div>
                {% endfor %}
                <nav aria-label="Page navigation" style="text-align: center">
                    <ul class="pagination">
                        <li>
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            {% endif %}
                        </li>
                        {% for page_num in page_range %}
                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endfor %}
                        <li>
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4">.col-md-2</div>

        </div>
    </div>
{% endblock %}

