{% extends 'base.html' %}
{% load static %}

{% load comment_tags %}

{% block title %}动态墙{% endblock %}
{% block extend-jquery-file %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'time-line/css/cntl.css' %}"/>
    <link rel="stylesheet" href="{% static 'dynamic/dynamics.css' %}">
    <link href="{% static 'editor/themes/default/default.css' %}" rel="stylesheet"/>
    <script src="{% static 'editor/js/kindeditor-min.js' %}"></script>
    <script src="{% static 'editor/js/emoticons.js' %}"></script>
    <script src="{% static 'editor/js/zh_CN.js' %}"></script>
    <script>
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('textarea[name="content"]', {
                resizeType: 1,
                allowPreviewEmoticons: false,
                allowImageUpload: false,
                items: [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            });
        });
    </script>
{% endblock %}

{% block main-content %}
    <div class="jq22-container">
        <div class="cntl">
			<span class="cntl-bar cntl-center">
				<span class="cntl-bar-fill"></span>
			</span>
            <div class="cntl-states">
                {% for dynamic in dynamic_list %}
                    <div class="cntl-state">
                        <div class="cntl-content">
                            <h4>{{ dynamic.type.type_name }}{% block owner-delete %}{% endblock %}</h4>
                            <p>{{ dynamic.text | safe }}</p>
                            <div id="like-comment" class="pull-right">
                                <button type="button" class="btn btn-xs" aria-label="Left Align"
                                        style="background: antiquewhite;">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                </button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-xs" aria-label="Left Align"
                                        style="background: antiquewhite;"
                                        onclick="comment(this, {{ dynamic.pk }}, {% get_content_type dynamic %})">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                </button>
                            </div>
                            <br>
                            <div id="comment-input">
                            <form>
                                <textarea name="content" >KindEditor</textarea>
                            </form>
                            </div>
                            <br>
                            <div class="comments-content">
                                {% get_comments_list dynamic as comments %}
                                {% for comment in comments %}
                                    <li>{{ comment.user.username }}: {{ comment.text | safe }}</li>
                                {% empty %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="cntl-image"><img src="{% static 'time-line/img/a3.png' %}"></div>
                        <div class="cntl-icon cntl-center">{{ dynamic.update_time|date:"Y-m-d" }}</div>
                    </div>
                {% endfor %}
                {#                <div id="comment-input" class="hidden">#}
                {#                    <form action="{% url 'create_comment' %}" method="post">#}
                {#                        {% csrf_token %}#}
                {#                        {% get_comments_form dynamic as comment_form %}#}
                {#                        {% for field in comment_form %}#}
                {#                            {{ field }}#}
                {#                        {% endfor %}#}
                {#                        <input type="submit" value="评论" class="btn btn-primary pull-right">#}
                {#                    </form>#}
                {#                </div>#}
            </div>
        </div>

    </div>
    <div class="paginator text-center">
        <ul class="pagination">
            {# 上一页 #}
            <li>
                {% if page_of_dynamics.has_previous %}
                    <a href="?page={{ page_of_dynamics.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&laquo;</span>
                {% endif %}
            </li>
            {# 全部页码 #}
            {% for page_num in page_range %}
                {% if page_num == page_of_dynamics.number %}
                    <li class="active"><span>{{ page_num }}</span></li>
                {% else %}
                    {% if page_num == '...' %}
                        <li><span>{{ page_num }}</span></li>
                    {% else %}
                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {# 下一页 #}
            <li>
                {% if page_of_dynamics.has_next %}
                    <a href="?page={{ page_of_dynamics.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}

{% block script-extend %}
    <script type="text/javascript" src="{% static 'time-line/js/jquery.cntl.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('.cntl').cntl({
                revealbefore: 300,
                anim_class: 'cntl-animate',
                onreveal: function (e) {
                    console.log(e);
                }
            });
        });
    </script>
    <script>
        function unfold(obj, id) {
            var ele = document.getElementById(id);
            if (obj.innerHTML === '展开') {
                ele.style.cssText = "white-space: inherit";
                obj.innerHTML = '收起';
            } else {
                ele.style.cssText = "overflow: hidden;white-space: nowrap; text-overflow: ellipsis;"
                obj.innerHTML = '展开';
            }
        }
    </script>
    <script type="text/javascript">
        function comment(obj, dynamic_id, content_type) {
            console.log(obj.parentNode);
            document.getElementById("comment-input").style.cssText = 'padding-top: 10px;padding-bottom: 10px;'
            document.getElementById("comment-input").className = ""
        }
    </script>
{% endblock %}