{% extends 'form_base.html' %}

{% block title %}树洞|新动态{% endblock %}
{% block form-title %}新动态{% endblock %}
{% block form %}
    <form method="POST" action="">
        {% csrf_token %}
        <label>
            <input type="hidden" name="owner" value="{{ request.user }}">
        </label>
        {% for dynamic_type in dynamic_types %}
            <label><input name="dynamic_type" type="radio" value="{{ dynamic_type }}" />{{ dynamic_type }} </label>
        {% endfor %}
        <label>
            <input type="text" name="text">
        </label>
        <br/>
        <div class="clearfix"></div>
        <input type="submit" value="提交" class="btn btn-primary pull-right">
        <input type="hidden" name="'next" value="{{ next }}">
    </form>
{% endblock %}