div.panel-footer {
    padding: 2px 7px;
}

div#unfold {
    text-align: right;
    font-size: 12px;
}

/*省略*/
/*p {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*    font-size: 10px;*/
/*}*/

div.django-ckeditor-widget {
    display: inline-block;
    width: 100%;
}