div.panel-footer {
    padding: 2px 7px;
}

div#unfold {
    text-align: right;
    font-size: 12px;
}

#example {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}