div.panel-footer {
    padding: 2px 7px;
}

div#unfold {
    text-align: right;
    font-size: 12px;
}


div.django-ckeditor-widget {
    display: inline-block;
    width: 100%;
}

body {
    background-image: url("../time-line/img/a4.png");
    background-size: cover;
}

div.cntl-state:first-child {
    margin-top: 15px;
}

div#comment-input {
    margin-top: 5px;
}

