{% load static %}
<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>树洞首页</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-backcanvas/css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-backcanvas/css/demo.css' %}"/>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-backcanvas/css/component.css' %}"/>
</head>

<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" >个人博客网站</a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar-collapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li>
                                首页
                            </li>
                            <li>博客
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h1 class="main-title">Connect <span class="thin">Three</span></h1>

        </div>
    </div>
</div><!-- /container -->

<script src="{% static 'jquery-backcanvas/js/TweenLite.min.js' %}"></script>
<script src="{% static 'jquery-backcanvas/js/EasePack.min.js' %}"></script>
<script src="{% static 'jquery-backcanvas/js/rAF.js' %}"></script>
<script src="{% static 'jquery-backcanvas/js/demo-1.js' %}"></script>

</body>
</html>